* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular';
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
    url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
    url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    background-color: black;
    height: 50px;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coutainer {
    max-width: 1055px;
    margin: 0 auto;
}

.logo {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.dropdown a {
    text-transform: none;
    margin-bottom: 8px;
}

.lidropdown {
    position: relative;
}

.dropdown {
    height: 90px;
    width: 110px;
    background-color: black;
    position: absolute;
    right: -10px;
    top: 45px;
    align-items: center;
    display: none;
}

.lidropdown li {
    margin: 5px;
}

.visible {
    display: flex;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid black;
    position: absolute;
    top: -12px;
    right: 48px;
}

.galery {
    width: 100%;
    min-height: 500px;
    background: rgba(209, 209, 209, 1);
    background: -moz-linear-gradient(top, rgba(209, 209, 209, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(219, 219, 219, 1) 100%);
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209, 209, 209, 1)), color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(219, 219, 219, 1)));*/
    background: -webkit-linear-gradient(top, rgba(209, 209, 209, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background: -o-linear-gradient(top, rgba(209, 209, 209, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background: -ms-linear-gradient(top, rgba(209, 209, 209, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background: linear-gradient(to bottom, rgba(209, 209, 209, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(219, 219, 219, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#dbdbdb', GradientType=0);
}

.image {
    width: 400px;
    height: 350px;
}

.information {
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    font-weight: bold;
}

.zipper a {
    color: #24ba9f;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.button {
    height: 50px;
    width: 260px;
    background-color: #24ba9f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-align: center;
}

.galeryinside {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.information h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.information h2, .information p {
    margin-bottom: 50px;
}

.about-chairs {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.type-of-chair {
    height: 230px;
    width: 330px;
    position: relative;
    font-size: 15px;
}

.chair-information {
    height: 250px;
    width: 360px;
    border: 1px solid lightgrey;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}

.name-of-chair {
    height: 60px;
    width: 330px;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 20px 0 30px 15px;
    box-sizing: border-box;
}

.short-underline {
    height: 6px;
    width: 140px;
    background-color: #24ba9f;
    margin-bottom: 15px;
}

.chair-information p:nth-of-type(2) {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.chair-information p:nth-of-type(1) {
    margin-left: 5px;
    margin-right: 5px;
}

.price-list {
    width: 100%;
    height: 730px;
    background-color: #f1f1f1;
}

.title-of-countainer h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 50px;
    box-sizing: border-box;
}

.long-underline {
    height: 6px;
    width: 315px;
    background-color: #24ba9f;
    margin-bottom: 75px;
}

.price-card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-card {
    height: 500px;
    width: 330px;
    padding: 30px;
    border: 2px solid #d5d5d5;
    background-color: #f9f9f9;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.price-card-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.price-card-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.price-card:nth-child(even) {
    border-color: #24ba9f;
    background-color: #24ba9f;
}

.price-card:nth-child(odd):before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 15px solid white;
    background-color: #c2c2c2;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 0 2px 1px #c2c2c2;
    position: absolute;
    top: -30px;
    right: calc(50% - 25px);
}

.price-card:nth-child(even):before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 15px solid #24ba9f;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: -30px;
    right: calc(50% - 25px);
}

.grey {
    font-size: 20px;
    text-transform: uppercase;
    color: #24ba9f;
    margin-bottom: 20px;

}

.white {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.circle-with-price {
    width: 130px;
    height: 130px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    background: white;
    color: #bfbfbf;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.even-circle {
    border: none;
    color: #24ba9f;
    background: #f9f9f9;
}

.cost {
    font-size: 35px;
    font-weight: bold;
}

sup {
    font-weight: lighter;
    font-size: 15px;
}

.currency {
    font-size: 15px;
}

.grey-lightgrey, .grey-white {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grey-white p, .grey-lightgrey p {
    height: 40px;
    width: 326px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #6e6e6e;
}

.grey-lightgrey p {
    background-color: #e4e4e4;
}

.grey-lightgrey p:nth-child(even) {
    background-color: #f1f1f1;
}

.grey-white {
    background-color: white;
}

.grey-white p:nth-child(even) {
    background-color: #f1f1f1;
}

.button-small {
    height: 30px;
    width: 120px;
    background-color: #24ba9f;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.white-button {
    color: #24ba9f;
    background-color: white;
}

.message form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.message input, textarea {
    width: 600px;
    height: 65px;
    border: 1px solid #24ba9f;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
}

.message textarea {
    height: 190px;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::placeholder {
    font-size: 25px;
    color: #d2d2d2;
    margin-left: 10px;
}

.data-processing input {
    height: 40px;
    width: 40px;
    border-color: #24ba9f;
    display: none;
}

.data-processing form {
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.data-processing label {
    width: 350px;
    color: #d2d2d2;
    font-size: 22px;
    position: relative;
}

/*Tworzymy befora z nowym wygladem checkboxa , na razie przesuniete tło + transision na zmianę pozycji tła*/
.data-processing label::before {
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid #24ba9f;
    background: url("../images/form_ok.jpg") no-repeat;
    background-position: -50px;
    position: absolute;
    left: -47px;
    bottom: 9px;
    transition: background-position .2s;
}

/* Kiedy zanznaczamy checkboxa ( label) działa transition i podmienia tło na nasz znaczek */
input[type="checkbox"]:checked + label::before {
    background-position: center;
}

.data-processing button {
    height: 60px;
    width: 350px;
    background-color: #24ba9f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    margin-top: 44px;
    border: none;
}

.data-processing {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.data-processing img {
    margin-bottom: 5px;
    align-self: baseline;
}

footer p {
    color: #a5a5a5;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 30px;
}

.logos {
    margin-right: 70px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
